@model UploadVideoViewModel

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <!-- upload -->
    <div class="upload">
        <!-- container -->
        <div class="container">
            <div class="upload-grids">
                @using (Html.BeginForm("UploadVideo", "Videos", FormMethod.Post, new { enctype = "multipart/form-data", id = "upload-form" }))
                {
                    @Html.AntiForgeryToken();

                    @Html.EditorFor(x => x.VideoTitle);
                    @Html.ValidationMessageFor(x => x.VideoTitle);
                    <div class="upload-right">
                        <div class="upload-file">
                            <div class="services-icon">
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </div>
                            @Html.EditorFor(x => x.VideoFile)
                            @Html.ValidationMessageFor(x => x.VideoFile);
                        </div>
                        <div class="upload-info">
                            <h5>Select video to upload</h5>
                            <span>but first</span>
                            <p>Add propper title and description</p>
                        </div>
                    </div>
                    @Html.EditorFor(x => x.VideoDescription);
                    @Html.ValidationMessageFor(x => x.VideoDescription);
                }
            </div>
        </div>
        <!-- //container -->
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}