@model WatchVideoViewModel

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="show-top-grids">
        <div class="col-sm-8 single-left">
            <div class="song">
                <div class="song-info">
                    <h3>@Model.Video.Title</h3>
                </div>
                <div class="video-grid">
                    <iframe width="854" height="480" src="@("https://www.youtube.com/embed/" + Model.Video.ServiceVideoId)" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="song-grid-right">
                <div class="share">
                    <h5>Details</h5>
                    <ul>
                        <li><a href="@(Url.Action<UsersController>(c => c.Room(Model.Video.OwnerId)))" class="icon comment-icon">Owner</a></li>
                        <li class="view">@Model.Video.Views Views</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="published">
                <div class="load_more">
                    <ul id="myList">
                        <li>
                            <h4>Published on @Model.Video.CreatedOn.Value</h4>
                            <p>@Model.Video.Description</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 single-right">
            <h3>Up Next</h3>
            <div class="single-grid-right">
                @foreach (var video in Model.WatchNext)
                {
                    @Html.Partial("_WatchNext", video);
                }
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>