<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlog room</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/template-css")
    @Styles.Render("~/Content/kendo-css")
    @Scripts.Render("~/bundles/modernizr")

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body class="background">
    <div id="loader">
        <img id="loader-gif" src="~/Content/Loader/ajax-loader.gif" alt="Loader" />
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@(Url.Action<HomeController>(c=>c.Index()))"><h1><img src="~/Images/vlogroom.png" /></h1></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="top-search">
                    @using (Html.BeginForm<HomeController>(c => c.Search(null), FormMethod.Get, null, new { @class = "navbar-form navbar-right" }))
                    {
                        <input type="text" name="searchPattern" class="form-control" placeholder="Search...">
                        <input type="submit" value=" ">
                    }
                </div>
                @Html.Partial("_LoginPartial")
            </div>
            <div class="clearfix"> </div>
        </div>
    </nav>
    <div class="container body-content">
        @Html.Partial("_SideMenu")

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/signalr")
    <script src="/signalr/hubs"></script>
    @Scripts.Render("~/bundles/template")

    @Html.Kendo().DeferredScripts()
    @RenderSection("scripts", required: false)

    @if (TempData[GlobalConstants.SuccessMessage] != null)
    {
        <script>
            toastr.options.closeOnHover = true;
            toastr.info("@TempData[GlobalConstants.SuccessMessage]")
        </script>
    }
    else if (TempData[GlobalConstants.ErrorMessage] != null)
    {
        <script>
            toastr.error("@TempData[GlobalConstants.ErrorMessage]")
        </script>
    }
</body>
</html>
