<div class="col-sm-3 col-md-2 sidebar">
    <div class="top-navigation">
        <div class="t-menu">MENU</div>
        <div class="t-img">
            <img src="~/Images/lines.png" alt="" />
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="drop-navigation drop-navigation">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="@(Url.Action<HomeController>(x=> x.Index()))" class="home-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li><a href="@(Url.Action<UsersController>(x=> x.Account()))" class="sub-icon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Account</a></li>
            <li><a href="@(Url.Action<UsersController>(x=> x.AllUsers()))" class="sub-icon"><span class="glyphicon glyphicon-home glyphicon-globe" aria-hidden="true"></span>Rooms</a></li>
            <li><a href="@(Url.Action<UsersController>(x=> x.Account()))" class="sub-icon"><span class="glyphicon glyphicon-home glyphicon-exclamation-sign" aria-hidden="true"></span>Notifications</a></li> 
            <li><a href="@(Url.Action<UsersController>(x=> x.Account()))" class="sub-icon"><span class="glyphicon glyphicon-home glyphicon-fire" aria-hidden="true"></span>Subscriptions</a></li>            
        </ul>
        <div class="side-bottom">
            x
            <div class="copyright">
                <p>Copyright © 2015 My Play. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
        </div>
    </div>
</div>